@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
:root {
  --font: "DM Sans", sans-serif;
  --big-text: 32px;
  --small-text: 16px;
  --medium-text: 18px;
  --tiny-text: 14px;
  --deeper-grey: #2b293e;
  --deep-grey: #353448;
  --white: #ffffff;
  --yellow-bg: #ffc059;
  --blackish: #020718;
  --blueish: #02073e;
  --creamish: #fffcf7;
  --greyish: #f6f8fb;
  --bluegrey: #343d48;
  --whiteish: #e5e5e5;
  --blueishtext: #0f2137;
}
* {
  box-sizing: border-box;
  font-family: var(--font);
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:active{
  color: #ffc059;
}
a:hover{
  color: #ffc059;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}

